DATABASE_URL=
REGISTRATION_CLOSED=1
NODE_ENV=production
TOKEN_SECRET=
VERBOSE=0
USER_GUILD_LIMIT=100
REDIS_URL=/run/valkey/valkey.sock
MAX_AVATAR_SIZE=10000000
MAX_BANNER_SIZE=25000000
CORS_ENABLED=1
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173,https://vanilla.meetz.li,http://vanilla.meetz.li,https://svanilla.meetz.li,http://svanilla.meetz.li
